langchain
PyPDF2
PdfReader
python-dotenv
streamlit
faiss-cpu
altair
tiktoken
huggingface-hub==0.14.1
InstructorEmbedding
sentence-transformers
HuggingFaceEmbeddings
os 
dotenv
htmlTemplates
langchain_groq  
